* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

body#pagina-anotate p {
  font-size: 1.25rem;
}

body#pagina-comunidad p {
  font-size: 1.25rem;
}

body#pagina-recorrido p {
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
  line-height: 2;
}

.boton {
  background-color: #ca7807;
  color: #fcfcfc;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 18px;
  line-height: 1;
  border: 1px solid #ca7807;
  cursor: pointer;
}

.boton:hover {
  background-color: transparent;
  color: #ca7807;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 18px;
  line-height: 1;
}

h1 {
  font-size: 2rem;
  text-transform: none;
  color: #261c1c;
  font-family: "Averia Serif Libre", cursive;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  text-transform: none;
  color: #261c1c;
  font-family: "Averia Serif Libre", cursive;
  font-weight: 900;
}

h3 {
  font-size: 1.2rem;
  text-transform: none;
  color: #261c1c;
  font-family: "Averia Serif Libre", cursive;
  font-weight: 900;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #261c1c;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

h5 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #261c1c;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

h6 {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #261c1c;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ca7807;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.logo {
  max-width: 150px;
}

.negrita {
  font-weight: 900;
  font-size: inherit;
  color: #ca7807;
}

.fondo-color-primario {
  background-color: #fafafa;
}

.dibujo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.breadcrumb a {
  color: #fcfcfc;
}

.breadcrumb a:hover {
  color: #ca7807;
}

li.breadcrumb-item.active {
  color: #fcfcfc;
}

.fondo-header {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 400px;
}

.fondo-recorrido {
  background: url("../img/recorrido.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-contacto {
  background: url("../img/contacto.jpg") no-repeat center top;
  background-size: cover;
}

.fondo-campania {
  background: url("../img/campania.jpg") no-repeat;
  background-size: cover;
}

.fondo-comunidad {
  background: url("../img/comunidad.jpg") no-repeat center center;
  background-size: cover;
}

.titular-header {
  transform: translate(-50%, 50%) !important;
}

.modal-content {
  background-color: transparent;
  border: 0;
}

p.modalArtesanos {
  text-align: center;
  cursor: pointer;
}

.gran-contenedor {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.gran-contenedor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background-color: #020101;
  opacity: 0.1;
  overflow: hidden;
}

.gran-contenedor--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.contenedor-cflex {
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#fondo-comunidad {
  padding: 90px 0;
  position: relative;
}

#fondo-comunidad:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/camino-al-paraje.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor-fondo {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.grilla-fondo {
  display: grid;
  grid-column-gap: 55px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "imagenSanJuan txtComunidad";
}

@media screen and (max-width: 1200px) {
  .grilla-fondo {
    grid-template-columns: 1fr;
    grid-template-areas: "imagenSanJuan" "txtComunidad";
  }
  #fondo-comunidad {
    padding: 65px 0;
  }
}

.carouselArtesanos {
  grid-area: imagenSanJuan;
}

.conImgArtesanos img {
  box-shadow: 7px 7px 14px rgba(5, 5, 5, 0.7);
  border-radius: 7px;
  padding: 0 40px;
}

.carousel-item .active {
  padding: 25px;
}

.txt-comunidad {
  grid-area: txtComunidad;
  padding: 50px;
}

.conImgArtesanos img {
  box-shadow: 7px 7px 14px rgba(5, 5, 5, 0.7);
  border-radius: 7px;
}

.contenedor-grid {
  max-width: 800px;
  margin: auto;
}

.grid-ods {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas: "intro intro intro" "tarjetaUno tarjetaDos tarjetaTres";
}

@media screen and (max-width: 750px) {
  .grid-ods {
    grid-template-areas: "intro" "tarjetaUno" "tarjetaDos" "tarjetaTres";
  }
}

.grid-ods > div {
  text-align: center;
  padding: 25px;
}

.grid-ods > div img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

.intro {
  grid-area: intro;
}

.tarjetaUno {
  grid-area: tarjetaUno;
}

.tarjetaDos {
  grid-area: tarjetaDos;
}

.tarjetaTres {
  grid-area: tarjetaTres;
}

.espacioSuperior {
  padding: 20px 0;
}

.tarjetas {
  box-shadow: 0 4px 8px 0 rgba(99, 80, 80, 0.2);
  transition: all 0.2s;
  margin: 20px;
  border-radius: 10px;
}

.tarjetas:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.tarjetas p {
  margin-top: 25px;
  font-size: 75%;
}

.fondoPrensa {
  background-image: url(../img/goma-sanjuan.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contenedorPrensa {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  max-width: 600px;
  padding-right: 25px;
  padding-left: 25px;
}

.imgPrensa {
  max-width: 65%;
  padding-bottom: 30px;
  display: inline-flex;
  margin: auto;
}

#carouselPrensa.carousel-item {
  padding: 0 20px;
  text-align: center;
  color: white;
}

#carouselPrensa.carousel-item img {
  max-width: 400px;
  text-align: center;
  margin: 0 auto 30px auto;
}

#carouselPrensa .carousel-item p {
  padding-bottom: 50px;
  font-size: 1.15rem;
  line-height: 1.8;
  text-align: center;
}

.carousel-indicators--prensa {
  bottom: -25px;
}

.pointer {
  cursor: pointer;
}

.contenedor-1 {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.contenedor-2 {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.contenedor-3 {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.contenedor-4 {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.contenedor-5 {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 700px) {
  .contenedor-video-principal {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.flex-column {
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.img-fondo {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  height: 525px;
}

.yt-contenedor-full {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.img-comunidad:hover .img-comunidad__nombre {
  opacity: 1;
}

.artesano-1 {
  background: url(../img/artesano01v.jpg) no-repeat center center;
  background-size: cover;
  padding: 270px 0;
  position: relative;
}

.artesano-2 {
  background: url(../img/artesano02v.jpg) no-repeat center center;
  background-size: cover;
  padding: 270px 0;
  position: relative;
}

.artesano-3 {
  background: url(../img/artesano03v.jpg) no-repeat center center;
  background-size: cover;
  padding: 270px 0;
  position: relative;
}

.artesano-4 {
  background: url(../img/artesano04v.jpg) no-repeat center center;
  background-size: cover;
  padding: 270px 0;
  position: relative;
}

.artesano-5 {
  background: url(../img/artesano05v.jpg) no-repeat center center;
  background-size: cover;
  padding: 270px 0;
  position: relative;
}

.artesano-6 {
  background: url(../img/artesano06v.jpg) no-repeat center center;
  background-size: cover;
  padding: 270px 0;
  position: relative;
}

.play {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 250ms;
  max-width: 25%;
}

.img-comunidad:hover .play {
  opacity: 0.3;
}

.envoltura-1 {
  max-width: 1450px;
  margin: auto;
  position: relative;
}

.img-comunidad__img {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
}

.tarjetas--comunidad:hover {
  transform: scale(1.01) !important;
  cursor: pointer;
}

.img-comunidad__nombre {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  font-family: "Averia Serif Libre", cursive;
  font-size: 1.25rem;
  font-weight: 900;
  color: #fcfcfc;
  display: block;
  text-align: center;
  transition: opacity 250ms;
}

.contenedor-2__h2 {
  text-align: center;
  margin: inherit auto;
  padding-bottom: 25px;
}

.contenedor-2__p {
  text-align: center;
  margin: inherit auto;
}

.contenedor-video-principal__video {
  min-width: 100%;
  min-height: 100%;
  object-position: -100px -100px;
}

@media screen and (max-width: 700px) {
  .contenedor-video-principal__video {
    object-position: -555px -100px;
  }
}

.yt-contenedor-full__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-2__p--grande {
  font-size: 1.2rem;
}

.flex-column--center {
  justify-content: center;
  text-align: center;
}

.img-fondo--institucional {
  background-image: url(../img/fondoinstitucional.jpg);
}

.contenedor-video-principal--opacidad {
  background-color: #261c1c;
  z-index: 0;
  opacity: 0.5;
}

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.my-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.my-7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-8 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.my-8 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.my-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py-10 {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

.my-10 {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

.navbar {
  z-index: 9999;
  align-items: baseline;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  color: #fcfcfc;
  border-color: #fcfcfc;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fcfcfc;
}

.padding-x-1 {
  padding-left: 35px;
  padding-right: 35px;
}

.contenedor-menu {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
}

.menu-principal__logo {
  max-width: 200px;
  cursor: pointer;
}

.menu-principal--baseline {
  align-items: baseline;
}

.menu__ul {
  margin: 0;
  display: flex;
  align-items: center;
}

.menu__list {
  text-decoration: none;
  margin: 0;
}

.menu__item {
  text-decoration: none;
  color: #fcfcfc;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.menu__item:hover {
  opacity: 0.7;
  color: inherit;
}

.contenedor-formulario {
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.contenedor-formulario--header {
  margin-top: 40vh;
  padding: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.contenedor-formulario__h1 {
  margin-bottom: 35px;
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .contenedor-formulario__h1 {
    font-size: 1.5rem;
  }
}

.contenedor-formulario__p {
  margin-bottom: 60px;
  color: white;
}

.form-items {
  display: flex;
}

.form-items__email {
  width: 60%;
  padding: 10px;
  margin-right: 2%;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #ca7807;
  text-transform: uppercase;
}

.form-items__email:focus {
  border-bottom: solid 2px white;
}

.form-items__email::placeholder {
  color: white;
}

.img-contacto__img {
  height: auto;
  max-width: 100%;
  max-height: 550px;
}

.form-pagContacto {
  background-color: #f3f3f3;
  max-width: 390px;
  width: 340px;
  padding: 25px;
  border-radius: 5px;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(0, -50%);
}

.form-pagContacto__label {
  margin-bottom: 3px;
}

.form-pagContacto__input {
  border: 1px solid #ffffff;
  padding: 7px;
  display: block;
  width: 100%;
  margin: 6px 0 17px 0;
}

.form-pagContacto__area-mensaje {
  width: 100%;
  border: none;
}

.form-pagContacto__submit {
  background-color: #ca7807;
  color: #fcfcfc;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px;
  line-height: 1;
  border: none;
}

.boton--formulario-header {
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px;
  line-height: 1;
  border: solid 2px #fcfcfc;
}

.boton--formulario-header:hover {
  background-color: #ca7807;
  color: #fcfcfc;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px;
  line-height: 1;
  border: solid 2px #ca7807;
}

.boton--menu {
  padding: 12px 18px;
}

.boton--menu:hover {
  border: solid 1px #261c1c;
  color: #fcfcfc;
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .img-contacto__img {
    max-width: none;
    transform: translate(-25%, 0%);
  }
  .form-pagContacto {
    width: 100%;
    max-width: 90%;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -30%);
  }
}

.fondoFooter {
  background: #fafafa;
}

.gridPie {
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  padding: 0 50px;
  grid-template-areas: "formularioPie formularioPie formularioPie formularioPie" "f-col1 f-col2 f-col3 f-col4" "f-auspiciantes f-auspiciantes f-auspiciantes f-auspiciantes" "f-creditos f-creditos f-creditos f-creditos";
}

@media screen and (max-width: 600px) {
  .gridPie {
    grid-template-areas: "formularioPie" "f-col1" "f-col2" "f-col3"  "f-col4" "f-auspiciantes" "f-creditos";
  }
  .gridPie {
    padding: 0 15px;
  }
  #footer h2 {
    text-align: center;
  }
  #footer p {
    text-align: center;
  }
  #footer-form {
    display: inline-flex;
    padding: 50px 0;
  }
  .auspiciantes ul li {
    display: block;
  }
  .f-col1, .f-col2, .f-col3, .f-col4 {
    text-align: center;
  }
}

.form-items--footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  grid-area: formularioPie;
}

.f-col1 {
  grid-area: f-col1;
  padding: 5px 0;
}

.f-col__a {
  color: black !important;
  text-decoration: none;
  text-transform: none;
  overflow: hidden;
}

.f-col__h4 {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

.f-col2 {
  grid-area: f-col2;
  padding: 5px 0;
}

.f-col3 {
  grid-area: f-col3;
  padding: 5px 0;
}

.f-col4 {
  grid-area: f-col4;
  padding: 5px 0;
}

.f-auspiciantes {
  grid-area: f-auspiciantes;
  padding: 5px 0;
  text-align: center;
}

.f-auspiciantes ul li {
  display: inline-block;
}

.f-creditos {
  grid-area: f-creditos;
  padding: 5px 0;
  text-align: center;
}

.f-creditos__p {
  font-size: 1.1rem !important;
}

.lineatiempo {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.lineatiempo::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #ca7807;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.contenedor-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  overflow: visible;
}

.contenedor-timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #ca7807;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.contenedor-timeline--left {
  left: 0;
}

.contenedor-timeline--right {
  left: 50%;
}

.contenedor-timeline--left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.contenedor-timeline--right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.contenedor-timeline--right::after {
  left: -13px;
}

.contenedor-timeline-inner {
  padding: 10px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.contenedor-timeline-inner:hover {
  box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.15) !important;
}

@media screen and (max-width: 600px) {
  .lineatiempo::after {
    left: 20px;
  }
  .contenedor-timeline {
    width: 100%;
    padding-left: 60px;
    padding-right: 15px;
  }
  .contenedor-timeline::before {
    left: 60px;
    border: medium solid #ca7807;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ca7807 transparent transparent;
  }
  .contenedor-timeline--left::after,
  .contenedor-timeline--right::after {
    left: 8px;
  }
  .contenedor-timeline--right {
    left: 0%;
  }
}

.contenedor-timeline.contenedor-timeline--left:hover, .contenedor-timeline.contenedor-timeline--right:hover {
  transform: translateY(-9px);
  transition: 500ms;
  z-index: 100;
}
/*# sourceMappingURL=estilos.css.map */