#pagina-comunidad p {
    font-size: 1.25rem;
}

.img-comunidad__img {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
}

.subir25 {
    transform: translatey(-25px) !important;
}

.bajar25 {
    transform: translatey(25px) !important;
}


.tarjetas--comunidad:hover {
    transform: scale(1.01) !important;
    cursor: pointer;
}
.img-comunidad__nombre {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    font-family: $font-encabezado;
    font-size: 1.25rem;
    font-weight: 900;
    color: $blanco;
    display: block;
    text-align: center;
    transition: opacity 250ms;
}

.img-comunidad:hover .img-comunidad__nombre {
    opacity: 1;
}
@for $i from 1 through 6 {
    .artesano-#{$i} {
        background: url(../img/artesano0#{$i}v.jpg) no-repeat center center;
        background-size: cover;
        padding: 270px 0;
        position: relative;
    }
}
.play {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: opacity 250ms;
    max-width: 25%;
}
.img-comunidad:hover .play {
    opacity: 0.3;
}

.negrita {
    font-weight: 900;
    font-size: inherit;
}



