#pagina-comunidad p {
    font-size: 1.25rem;
}

.negrita{
    font-weight: 900;
    font-size: inherit;
}
.contenedor800 {
    max-width: 800px;
    margin: auto;
    padding: 0 25px;
};

.subir25 {
    transform: translatey(-25px) !important;
}

.bajar25{
    transform: translatey(25px) !important;
}

.espacio100 {
    margin: 100px 0;
}

.fondo-color-primario {
    background-color: $color-primario;
}
