.fondoFooter {
    background: $color-secundario;

   }
 
 .gridPie {
     display: grid;
     grid-gap: 20px;
     justify-content:space-between;
     padding: 0 50px;
     grid-template-areas:
     "formularioPie formularioPie formularioPie formularioPie"
     "f-col1 f-col2 f-col3 f-col4"
     "f-auspiciantes f-auspiciantes f-auspiciantes f-auspiciantes"
     "f-creditos f-creditos f-creditos f-creditos";
 }
 
 
 
 @media screen and (max-width: 600px) {
     .gridPie {grid-template-areas:
     "formularioPie"
     "f-col1"
     "f-col2"
     "f-col3" 
     "f-col4"
     "f-auspiciantes"
     "f-creditos"; 
     }
     .gridPie {
         padding: 0 15px;
     }
     #footer h2 {
         text-align: center;
     }
     #footer p {
         text-align: center;
     }
     #footer-form{
         display: inline-flex;
         padding: 50px 0;
     }
     .auspiciantes ul li {
         display: block;
     }
     .f-col1, .f-col2, .f-col3, .f-col4 {
         text-align: center;
     }
     
 }
 
 .form-items--footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    grid-area: formularioPie;
}
 
 .f-col1 {
     grid-area: f-col1;
     padding: 5px 0;
 }

 .f-col__a {
    color: black !important;
    text-decoration: none;
    text-transform: none;
    overflow: hidden;
}

.f-col__h4 {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden; 
}


 .f-col2 {
     grid-area: f-col2;
     padding: 5px 0;
 }
 .f-col3 {
     grid-area: f-col3;
     padding: 5px 0;
 }
 .f-col4 {
     grid-area: f-col4;
     padding: 5px 0;
 }
 
 .f-auspiciantes {
     grid-area: f-auspiciantes;
     padding: 5px 0;
     text-align: center;
 }
 
 .f-auspiciantes ul li {
     display: inline-block;
 }
 
 .f-creditos {
     grid-area: f-creditos;
     padding: 5px 0;
     text-align: center;
 }

 .f-creditos__p {
     font-size: 1.1rem !important;
 }