.contenedor-formulario {
    z-index: 100;
    display: flex;

    flex-direction: column;
}

.contenedor-formulario--header {
    margin-top: 40vh;
    padding: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-formulario__h1 {
    margin-bottom: 35px;
    color: white;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .contenedor-formulario__h1 {
        font-size: 1.5rem;
    }
}

.contenedor-formulario__p {
    margin-bottom: 60px;
    color: white;
}


.form-items {
    display: flex;
}
.form-items__email {
    width: 60%;
    padding: 10px;
    margin-right: 2%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #ca7807;
    text-transform: uppercase;
}

.form-items__email:focus {
    border-bottom: solid 2px white;
}

.form-items__email::-webkit-input-placeholder {
    color: white;
}

.form-items__email:-ms-input-placeholder {
    color: white;
}

.form-items__email::-ms-input-placeholder {
    color: white;
}

.form-items__email::placeholder {
    color: white;
}

//formulario de pagina de contacto

#pagina-contacto {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.img-contacto__img {
    height: auto;
    max-width: 100%;
    max-height: 550px;
}

.form-pagContacto {
    background-color: #f3f3f3;
    max-width: 390px;
    width: 340px;
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(0, -50%);
}

.form-pagContacto__label {
    margin-bottom: 3px;
}

.form-pagContacto__input {
    border: 1px solid #ffffff;
    padding: 7px;
    display: block;
    width: 100%;
    margin: 6px 0 17px 0;
}

.form-pagContacto__area-mensaje {
    width: 100%;
    border: none;
}

.form-pagContacto__submit {
    background-color: #ca7807;
    color: $blanco;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    line-height: 1;
    border: none;
}

.boton {
    background-color: $color-primario;
    color: $blanco;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
    line-height: 1;
    border: 1px solid $color-primario;
    cursor: pointer;
}

.boton:hover {
    background-color: transparent;
    color: $color-primario;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
    line-height: 1;
    
}
.boton--formulario-header {
    background-color: transparent;
    color: $blanco;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    line-height: 1;
    border: solid 2px $blanco;
}

.boton--formulario-header:hover {
    background-color: $color-primario;
    color: $blanco;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    line-height: 1;
    border: solid 2px $color-primario;
}

.boton--menu {
 
    padding: 12px 18px;
  
}

.boton--menu:hover {
    border: solid 1px $color-encabezado;

    color: $blanco;
    opacity: .7;

}

  


@media screen and (max-width: 992px) {
    .img-contacto__img {
        max-width: none;
    }

    .form-pagContacto {
        width: 100%;
        max-width: 90%;
        border-radius: 6px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -30%);
    }
}
