* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}

//body
body {
  font-family: $font-principal;
}
body#pagina-anotate p {
  font-size: 1.25rem;
}
body#pagina-comunidad p {
  font-size: 1.25rem;
}
body#pagina-recorrido p {
  font-size: 1.25rem;
}

//parrafos
@mixin parrafos($size, $height) {
  font-size: $size;
  line-height: $height;
}

p {
  @include parrafos(1.1rem, 2);
}


//boton
.boton {
  background-color: $color-primario;
  color: $blanco;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 18px;
  line-height: 1;
  border: 1px solid $color-primario;
  cursor: pointer;
}

.boton:hover {
  background-color: transparent;
  color: $color-primario;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 18px;
  line-height: 1;
}

//encabezados
@mixin encabezados($size, $transform: none, $color: $color-encabezado, $font: $font-encabezado) {
  font-size: $size + rem;
  text-transform: $transform;
  color: $color;
  font-family: $font;
  font-weight: 900;
}

h {
  &1 {
    @include encabezados(2);
  }
  &2 {
    @include encabezados(1.6);
  }
  &3 {
    @include encabezados(1.2);
  }
  &4 {
    @include encabezados(1, uppercase, $color-encabezado, $font-principal);
  }
  &5 {
    @include encabezados(0.9, uppercase, $color-encabezado, $font-principal);
  }
  &6 {
    @include encabezados(0.7, uppercase, $color-encabezado, $font-principal);
  }
}

//links
@mixin enlaces($color: $color-primario, $decoracion: none) {
  color: $color;
  text-decoration: $decoracion;
}

a {
  @include enlaces(black);
}
a {
  &:hover {
    @include enlaces($color-primario);
  }
}

//listas
ul {
  padding: 0;
}
li {
  list-style: none;
}

//logo
.logo {
  max-width: 150px;
}

//destacado
.negrita {
  font-weight: 900;
  font-size: inherit;
  color: $color-primario;
}

//fondos
.fondo-color-primario {
  background-color: $color-secundario;
}

//dibujos
.dibujo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

//migas de pan
.breadcrumb a {
  color: $blanco;
}
.breadcrumb a:hover {
  color: $color-primario;
}
li.breadcrumb-item.active {
  color: $blanco;
}

//fondos header
.fondo-header {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 400px;
}
.fondo-recorrido {
  background: url("../img/recorrido.jpg") no-repeat center center;
  background-size: cover;
}

.fondo-contacto {
  background: url("../img/contacto.jpg") no-repeat center top;
  background-size: cover;
}

.fondo-campania {
  background: url("../img/campania.jpg") no-repeat;
  background-size: cover;
}

.fondo-comunidad {
  background: url("../img/comunidad.jpg") no-repeat center center;
  background-size: cover;
}

.titular-header {
  transform: translate(-50%, 50%) !important;
}

// modal
.modal-content {
  background-color: transparent;
  border: 0;
}
p.modalArtesanos {
  text-align: center;
  cursor: pointer;
}

