//Menu celular | BS
.navbar {
    z-index: 9999;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: $blanco;
    border-color: $blanco;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: $blanco;
}

// Escritorio
.contenedor-menu {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 35px;
}

.menu-principal__logo {
    max-width: 200px;
    cursor: pointer;
}

.menu-principal--baseline {
    align-items: baseline;
}

.menu__ul {
    margin: 0;
    display: flex;
    align-items: center;
}
.menu__list {
    text-decoration: none;
    margin: 0;
}

.menu__item {
    
    text-decoration: none;
    color: $blanco;
    padding-left: 10px;
   
    text-transform: uppercase;
    font-weight: 900;
}

.menu__item:hover {
    opacity: 0.7;
    color: inherit;
}

