.contenedor-2__p--grande {
    font-size: 1.2rem;
}

.flex-column--center {
    justify-content: center;
    text-align: center;
}

.img-fondo--institucional {
    background-image: url(../img/fondoinstitucional.jpg);
}

.contenedor-video-principal--opacidad {
    background-color: #261c1c;
    z-index: 0;
    opacity: 0.5;
}
