// colores
$color-primario: #ca7807;
$color-secundario: #fafafa;
$color-encabezado: #261c1c;
$blanco: #fcfcfc;

// tipografias
$font-principal: "Merriweather Sans", sans-serif;
$font-encabezado: "Averia Serif Libre", cursive;

//espaciado
$spacer: 1rem;


