// colores
$color-primario:#ca7807;
$color-secundario: #614e47;
$color-terciario: #222C40;
$color-parrafo: #7a7a7a;
$color-encabezado: #261C1C;
$blanco: #f8f8f8;

//tipografias
$font-principal: 'Merriweather Sans', sans-serif;
$font-encabezado: 'Averia Serif Libre', cursive;

